{
  "openapi": "3.1.0",
  "info": {
    "title": "IncentiView Indexer API",
    "description": "An API for querying the Incentiv Blockchain through the IncentiView Indexer. Supports blocks, transactions, user operations, assets, and more.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://indexer.testnet.incentiv.net/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/home/search": {
      "get": {
        "description": "Search the Incentiv blockchain for any matching entity \u2014 address, block, transaction, user operation, or asset.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search keyword or identifier (e.g., address, transaction hash, or name)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResult": {
        "required": [
          "type",
          "id"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Entity type such as block, transaction, userOperation, etc."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the result (e.g., hash or address)"
          },
          "label": {
            "type": "string",
            "description": "Human-readable label or summary"
          },
          "metadata": {
            "type": "object",
            "description": "Contextual information depending on the result type"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}